/tp2/target/
/introducion_poo/nbproject/private/
/introducion_poo/build/
/Empleado.java/nbproject/private/
/Empleado.java/build/
/RelacionesUML/nbproject/private/
/coleciones/nbproject/private/
/coleciones/build/
